# Ignore all files in the application directory
SilverBulletPro-v1.5.8/

# Also ignore our local data folders
sbp_db/
sbp_plugins/
sbp_settings/
sbp_tessdata/
windows_vm_storage/

# Ignore system files
.DS_Store